/** Fonts**/
@font-face {
	font-family: "Poppins Bold";
	src: url("../fonts/Poppins/Poppins-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Poppins Medium";
	src: url("../fonts/Poppins/Poppins-Medium.ttf");
	font-display: swap;
}
