@import 'fonts';
@import 'colors';



body {
	font-size: 18px;
	margin: 0;
	font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

ul,
li {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: $gray;
	font-family: "Poppins Bold";
}

h1 {
	margin: 0;
}

li {
	display: inline-block;
}

button {
	background: none;
    padding: 0;
	margin: 0;
	font-size: 18px;
    outline: none;
	border: none;
	font-family: "Poppins Bold";
	cursor: pointer;
	background-color: $blue;

	&:hover {
		background-color: $lightBlue;
	}
}

input {
	border: none;
	outline: none;
	border-radius: 10px;
}

.shortly-content {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 15px;
	padding-right: 15px;
}
